.cm-tab {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wIaEQk0h0pmegAAAB1JREFUSMdjYBgFo2AUjIKBBmpDnB4Fo2AUDGUAANE+A5F9aJFiAAAAAElFTkSuQmCC);
	background-position: right;
	background-repeat: no-repeat;
}
