.cm-tab {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wQQCRgwITZmfwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAIElEQVRIx2NgGAWjYBSMggEFq1at+j+U6VEwCkbBEAcA/2NHuaaGeBEAAAAASUVORK5CYII=);
	background-position: right;
	background-repeat: no-repeat;
}
